.backgroundSlider {
  width: 100%;
  height: 100%;
  // position: absolute;
  top: 0;
  // right: 100%;
  // left: 100%;
  /* z-index: 10; */
  padding: 8em 1em 0;
  background-size: cover;
  /* background-position: 50% 50%; */
  // transition: left 0s .75s;

  display: block;

  opacity: 0;
  transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);

  transition: all 0.7s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -webkit-transition: all 0.7s ease-in-out;
}

.active {
  opacity: 1;

  transform: translateX(1);
  -moz-transform: translateX(1);
  -webkit-transform: translateX(1);

  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}